@use "./mixings" as mx;

.icon {
   width: 28px;
   aspect-ratio: 1;
   object-fit: contain;
}

.container {
   padding: 18px 50px;

   @include mx.breakpoint-down(medium) {
      padding: 27px 20px;
   }
}

.btn {
   padding-block: 20px;
   width: min(100%, 361px);
   color: var(--branco);
   border-radius: var(--radius1);
   background: var(--primaria);

   &.submit {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.985px;
      letter-spacing: -0.64px;
   }

   &-dynamic {
      display: flex;
      align-items: center;
      gap: 7px;

      line-height: 120.1%;
      font-weight: 500;
      text-decoration-line: underline;
      text-transform: lowercase;

      &.add {
         color: #3B9756;
         font-size: 16px;
         letter-spacing: -0.48px;
         margin-block-start: 50px;

         .icon {
            width: 18px;
         }
      }

      &.delete {
         position: absolute;
         top: 0;
         right: 0;
         color: #C3363C;
         font-size: 12px;
         letter-spacing: -0.36px;

         .icon {
            width: 12px;
         }
      }
   }
}

.has-icon {
   display: flex;
   align-items: center;
   gap: 10px;
}

.section-title {
   margin-block-end: 28px;
   font-size: 24px;
   font-weight: 700;
   line-height: 21px;
}

.main {
   position: relative;
   left: 375px;
   width: calc(100vw - var(--navbar-width));
   transition: all 300ms ease;

   @include mx.breakpoint-down(medium) {
      width: 100%;
      left: 0;
   }

   .top-bar {
      position: sticky;
      top: 0;
      background-color: var(--branco);
      z-index: 3;

      @include mx.breakpoint-down (medium) {
         background-image: var(--gradient);
      }

      .container {
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 64px;

         @include mx.breakpoint-down(medium) {
            padding: 10px 20px;
            gap: 16px;
         }
      }

      .left {
         display: flex;
         align-items: center;
         gap: 20px;

         @include mx.breakpoint-down (medium) {
            display: none;
         }

         .icon {
            filter: invert(100%);
         }
      }

      .mobile-menu {
         display: flex;
         align-items: center;
         gap: 20px;

         @include mx.breakpoint-up (large) {
            display: none;
         }

         .icon {
            width: 20px;
         }

         .logo {
            height: 51px;
         }
      }

      .right {
         display: flex;
         align-items: center;
         gap: 64px;

         .notification {
            position: relative;
            display: grid;
            place-items: center;
            cursor: pointer;

            &.active::before {
               content: "";
               position: absolute;
               top: -1px;
               right: -2px;
               width: 11px;
               aspect-ratio: 1;
               background-image: url(../images/icon-red-ball.svg);
            }
         }

         .icon {
            width: 20px;
            pointer-events: none;

            path {
               @include mx.breakpoint-down(medium) {
                  stroke: var(--branco)
               }
            }

            &-profile {
               border-radius: var(--radius-circle);
               cursor: pointer;
            }
         }
      }
   }
}

body.swal2-shown>[aria-hidden="true"] {
   transition: 0.1s filter;
   filter: blur(41px);
}

.custom-swal {
   border-radius: var(--radius2);

   .swal-btns {
      border-radius: var(--radius1);
   }
}