@charset "UTF-8";
:root {
  --primaria: #932327;
  --gradient: linear-gradient(180deg, #922327 0%, #6C1619 100%);
  --radius1: 9px;
  --radius2: 15px;
  --radius3: 20px;
  --radius-circle: 50%;
  --neutra-escura: #404041;
  --neutra-cinza-escuro: #BBB;
  --neutra-cinza-escuro-2: #808080;
  --branco: #FFF;
  --bg-dash: #F4F7FE;
  --navbar-width: 390px;
  --box-shadow-3: 0px 49px 79px 36px rgba(202, 209, 220, 0.20);
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes modalFadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
*,
*:is(::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dash);
  color: var(--neutra-escura);
  line-height: 1.8;
}
body.nav-active {
  overflow: hidden;
}
body.modal-active {
  overflow: hidden;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

.icon {
  width: 28px;
  aspect-ratio: 1;
  object-fit: contain;
  transition: all 300ms ease;
}
.icon.rotate {
  transform: rotate(-180deg);
}

.no-events {
  pointer-events: none;
}

.container {
  padding: 18px 50px;
}
@media (max-width: 63.9375rem) {
  .container {
    padding: 27px 20px;
  }
}

.title {
  color: var(--neutra-escura);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.1%;
  letter-spacing: -0.6px;
}
.title-big {
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.72px;
}

.btn {
  padding-block: 20px;
  width: min(100%, 361px);
  color: var(--branco);
  border-radius: var(--radius1);
  background: var(--primaria);
}
.btn.submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.985px;
  letter-spacing: -0.64px;
}
.btn-dynamic {
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: 120.1%;
  font-weight: 500;
  text-decoration-line: underline;
  text-transform: lowercase;
}
.btn-dynamic.add {
  color: #3B9756;
  font-size: 16px;
  letter-spacing: -0.48px;
  margin-block-start: 50px;
}
.btn-dynamic.add .icon {
  width: 18px;
}
.btn-dynamic.delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #C3363C;
  font-size: 12px;
  letter-spacing: -0.36px;
}
.btn-dynamic.delete .icon {
  width: 12px;
}
.btn.has-icon {
  justify-content: center;
}

.has-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.has-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.main {
  position: relative;
  left: 375px;
  width: calc(100vw - var(--navbar-width));
  transition: all 300ms ease;
}
@media (max-width: 63.9375rem) {
  .main {
    width: 100%;
    left: 0;
  }
}
.main .top-bar {
  position: sticky;
  top: 0;
  background-color: var(--branco);
  z-index: 3;
}
@media (max-width: 63.9375rem) {
  .main .top-bar {
    background-image: var(--gradient);
  }
}
.main .top-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
@media (max-width: 63.9375rem) {
  .main .top-bar .container {
    padding: 10px 20px;
    gap: 16px;
  }
}
.main .top-bar .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 63.9375rem) {
  .main .top-bar .left {
    display: none;
  }
}
.main .top-bar .left .icon {
  filter: invert(100%);
}
.main .top-bar .mobile-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 64em) {
  .main .top-bar .mobile-menu {
    display: none;
  }
}
.main .top-bar .mobile-menu .icon {
  width: 20px;
}
.main .top-bar .mobile-menu .logo {
  height: 51px;
}
.main .top-bar .right {
  display: flex;
  align-items: center;
  gap: 64px;
}
.main .top-bar .right .notification {
  position: relative;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.main .top-bar .right .notification.active::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -2px;
  width: 11px;
  aspect-ratio: 1;
  background-image: url(../images/icon-red-ball.svg);
}
.main .top-bar .right .icon {
  width: 20px;
  pointer-events: none;
}
@media (max-width: 63.9375rem) {
  .main .top-bar .right .icon path {
    stroke: var(--branco);
  }
}
.main .top-bar .right .icon-profile {
  border-radius: var(--radius-circle);
  cursor: pointer;
}

body.swal2-shown > [aria-hidden=true] {
  transition: 0.1s filter;
  filter: blur(41px);
}

.custom-swal {
  border-radius: var(--radius2);
}
.custom-swal .swal-btns {
  border-radius: var(--radius1);
}

.dialog {
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 1rem;
  border-radius: var(--radius2);
  border: none;
  box-shadow: 0px 8.15565px 48.93394px -2.03891px rgba(0, 0, 0, 0.05);
}
.dialog::backdrop {
  backdrop-filter: blur(41px);
}
.dialog .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 50px 80px;
  max-width: 865px;
  height: 375px;
}
.dialog-close {
  position: absolute;
  top: 30px;
  right: 50px;
}
.dialog-close .icon {
  width: 9px;
}
.dialog h3 {
  color: var(--primaria);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 120.1%;
  letter-spacing: -0.8px;
}
.dialog label {
  margin-block: 15px 40px;
  font-weight: 600;
}
.dialog-msg {
  margin-inline-start: 0.5rem;
  font-size: 10px;
  color: var(--primaria);
}
.dialog input {
  border-radius: 9px;
  border: 1px solid #D9DBD0;
}
.dialog.valores {
  width: min(865px, 85%);
}
.dialog.popup {
  max-width: 348px;
  width: 100%;
}
.dialog.popup .dialog-close {
  right: 24px;
}
.dialog.popup .content {
  padding: 63px 40px 93px;
}
.dialog.popup .content h3 {
  text-align: start;
  align-self: flex-start;
}
.dialog.popup .popup-body {
  margin-block-start: 40px;
  width: 100%;
}
.dialog.popup .popup-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 300ms ease;
}
.dialog.popup .popup-item:not(:last-child) {
  padding-block-end: 35px;
  border-block-end: 1px solid var(--neutra-cinza-escuro);
}
.dialog.popup .popup-item:not(:first-child) {
  padding-block-start: 35px;
}
.dialog.popup .popup-item:is(:hover, :focus-visible) {
  color: var(--primaria);
}
.dialog.popup.notification .content {
  padding-block-end: 58px;
  padding-inline-end: 24px;
  height: 520px;
}
.dialog.popup ul {
  margin-block-start: 30px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.dialog.popup ul::-webkit-scrollbar {
  width: 6px;
}
.dialog.popup ul::-webkit-scrollbar-thumb {
  background-color: var(--primaria);
  border-radius: 4px;
}
.dialog.popup li.popup-item {
  flex-direction: column;
  align-items: flex-start;
}
.dialog.popup li.popup-item:first-child {
  padding-block-end: 30px;
}
.dialog.popup li.popup-item:nth-child(2) {
  padding-block-start: 30px;
}
.dialog.popup li.popup-item .icon {
  width: 16px;
  margin-block-end: 13px;
}
.dialog.popup li.popup-item h5 {
  color: var(--neutra-escura);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.dialog.popup li.popup-item p {
  color: var(--neutra-cinza-escuro-2);
  margin-block: 5px 20px;
  font-size: 12px;
  font-weight: 600;
}
.dialog.popup li.popup-item .time {
  color: var(--neutra-cinza-escuro);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.header {
  position: fixed;
  top: 0;
  left: -402px;
  width: 402px;
  height: 100vh;
  transition: all 300ms ease;
  z-index: 5;
}
.header.active {
  left: 0px;
}
@media (min-width: 64em) {
  .header {
    left: 0px;
  }
}
.header .content {
  display: flex;
  flex-direction: column;
  width: 390px;
  min-height: 100vh;
  background-image: var(--gradient);
  color: var(--branco);
  box-shadow: var(--box-shadow-3);
}
.header .content .top {
  position: relative;
}
.header .content .top .close-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media (min-width: 64em) {
  .header .content .top .close-nav {
    display: none;
  }
}
.header .content .top .icon {
  width: 16px;
}
.header .content .top .icon path {
  stroke: #FFF;
}
.header .content .logo {
  margin: 12px auto 48px;
}
.header .content .selects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-block-end: 40px;
}
.header .content .selects .custom-select {
  width: 284px;
  height: 58px;
  flex-shrink: 0;
  padding: 21px 30px;
  border-radius: var(--radius1);
  border: 1px solid #FFF;
  background-color: var(--primaria);
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 120.1%;
  letter-spacing: -0.56px;
}
.header .content .navbar {
  display: flex;
  flex-direction: column;
}
.header .content .navbar-list {
  width: 402px;
  height: calc(100vh - 319px);
  overflow-y: scroll;
  padding-block-end: 124px;
}
.header .content .navbar-list::-webkit-scrollbar {
  width: 0px;
  background-color: none;
}
.header .content .navbar-list::-webkit-scrollbar-thumb {
  background-color: #AB2F34;
  border-radius: 5px;
}
.header .content .navbar-link {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 390px;
  height: 64px;
  padding: 20px 58px;
  font-size: 14px;
  transition: all 300ms ease;
  font-weight: 700;
  line-height: 120.1%;
  letter-spacing: -0.42px;
}
.header .content .navbar-link:is(.active, :hover, :focus-visible) {
  background-color: #AB2F34;
  width: 402px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.0784313725);
  filter: blur(10px);
  z-index: 3;
}
.overlay.active {
  display: block;
}

.ads {
  display: none;
}
.ads.active {
  display: block;
}
.ads-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ads-item {
  display: flex;
  align-items: center;
  height: 226px;
  width: 547px;
  background-color: #FFF;
  border-radius: var(--radius2);
  overflow: hidden;
}
.ads-swiper {
  width: 236px;
}
.ads-swiper .swiper-slide {
  border-radius: var(--radius2);
}
.ads-swiper .swiper-pagination-bullet {
  margin: 0 2.5px !important;
  height: 5px;
  width: 5px;
  background: #D6D6D6;
  opacity: 0.9;
}
.ads-swiper .swiper-pagination-bullet-active {
  background: white;
}
.ads-info {
  padding: 24px 20px;
  width: 311px;
  line-height: 15.781px;
}
.ads-category {
  color: var(--neutra-cinza-escuro-2);
  font-size: 14px;
}
.ads-title {
  font-size: 18px;
  font-weight: 500;
  margin-block: 9px 5px;
}
.ads-city {
  font-size: 14px;
  font-weight: 500;
}
.ads-benefits {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  margin-block: 20px 30px;
  color: var(--neutra-cinza-escuro-2);
  font-size: 12px;
  font-weight: 400;
}
.ads-benefits li {
  position: relative;
}
.ads-benefits li:not(:last-child)::before {
  position: absolute;
  content: "•";
  color: var(--neutra-cinza-escuro);
  font-weight: 800;
  right: -10px;
}
.ads-investment {
  display: flex;
  align-items: flex-end;
  margin-block-end: 20px;
  font-size: 14px;
  font-weight: 400;
}
.ads-price {
  font-size: 20px;
  font-weight: 700;
}
.ads-favorite .icon {
  width: 15px;
}

.title-page {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-block: 27px 70px;
  font-size: 12px;
  font-weight: 700;
}
@media (min-width: 64em) {
  .title-page {
    display: none;
  }
}
@media (max-width: 63.9375rem) {
  .title-page {
    margin-block-start: 0px;
  }
}
.title-page .icon {
  width: 18px;
  filter: invert(100%);
}

fieldset {
  border: none;
  margin-block-end: 80px;
}
fieldset.fs-valores .label {
  flex: 1 262px;
}
fieldset legend {
  margin-bottom: 30px;
}
@media (max-width: 63.9375rem) {
  fieldset legend {
    font-size: 16px;
  }
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 19px;
  transition: all 300ms ease;
}

.input-group {
  display: flex;
  width: 100%;
  gap: 19px;
}

.label {
  position: relative;
  align-self: flex-end;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 120.1%;
  letter-spacing: -0.48px;
}
.label .tox-tinymce {
  margin-block: 20px 50px;
}
.label input {
  height: 60px;
  margin-block-start: 5px;
  padding: 22px 40px;
  color: var(--netra-escura);
  font-weight: 500;
  border-radius: var(--radius1);
  background: #FFF;
}
.label input::placeholder {
  color: var(--neutra-cinza-escuro);
  font-size: 14px;
  font-weight: 500;
  line-height: 120.1%;
  letter-spacing: -0.42px;
}
.label.cifrao input {
  padding-inline-start: 59px;
}
.label.cifrao::before {
  content: "R$";
  position: absolute;
  top: 50px;
  left: 35px;
  font-size: 14px;
  font-weight: 500;
}

.double-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  line-height: 120.1%;
}
@media (min-width: 64em) {
  .double-form {
    padding-block-start: 36px;
  }
}
.double-form .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 580px;
  max-width: 539px;
  padding: 80px 50px 76px;
  background-color: var(--branco);
  border-radius: var(--radius2);
  box-shadow: var(--box-shadow-3);
}
@media (min-width: 1646px) {
  .double-form .profile {
    position: sticky;
    top: 102px;
  }
}
.double-form .profile-pic {
  display: flex;
  align-items: center;
  position: relative;
  width: 128px;
}
.double-form .profile-pic input {
  display: none;
}
.double-form .profile-info {
  display: none;
  max-width: 547px;
}
.double-form .profile-info.active {
  display: block;
}
.double-form .profile .edit-pic {
  position: absolute;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  width: 43px;
  aspect-ratio: 1;
  background-color: var(--primaria);
  border: 3px solid var(--branco);
  border-radius: var(--radius-circle);
}
.double-form .profile .edit-pic .icon {
  width: 15px;
}
.double-form .profile-image {
  width: 128px;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: var(--radius-circle);
}
.double-form .profile-name {
  margin-block: 20px 3px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
}
.double-form .profile-city {
  color: var(--neutra-cinza-escuro-1, #808080);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.56px;
}
.double-form .profile-sections {
  width: 100%;
  margin-block-start: 30px;
}
.double-form .profile-sections .section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 42px 27px 51px;
  width: 100%;
  font-weight: 600;
  line-height: 120.1%;
  letter-spacing: -0.48px;
}
.double-form .profile-sections .section svg {
  stroke: #404041;
}
.double-form .profile-sections .section:first-child {
  border-bottom: 1px solid var(--neutra-cinza-escuro);
}
.double-form .profile-sections .section:is(.active, :hover, :focus-visible) {
  color: var(--primaria);
}
.double-form .profile-sections .section:is(.active, :hover, :focus-visible) svg {
  stroke: var(--primaria);
}
.double-form .submit {
  margin-inline: auto;
}

.contact-item {
  padding-block: 50px;
  border-block-start: 1px solid var(--neutra-cinza-escuro);
}
.contact-item:last-child {
  border-block-end: 1px solid var(--neutra-cinza-escuro);
}
.contact-item.active legend {
  margin-block-end: 30px;
}
.contact-item.active .icon.rotate {
  transform: rotate(0deg);
}
.contact-item.active .collapse-content {
  opacity: 1;
  grid-template-rows: 1fr;
}
.contact-item legend {
  transition: all 300ms ease;
}
.contact-item .collapse-content {
  opacity: 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 300ms ease;
}
.contact-item .collapse-content .form-group {
  overflow: hidden;
}
.contact-item .has-icon {
  gap: 38px;
}
.contact-item .icon {
  width: 17px;
  transition: all 500ms ease;
}
.contact-item .btn-dynamic.delete {
  position: static;
}

.instructions {
  padding: 44px 65px;
  margin-block-end: 80px;
  height: 112px;
  background-color: var(--branco);
  border-radius: var(--radius3);
  transition: height 500ms ease;
  overflow-y: hidden;
}
.instructions.active {
  padding: 44px 65px 100px;
  height: 100%;
}
.instructions.active .icon.rotate {
  transform: rotate(0deg);
}
.instructions.active article {
  opacity: 1;
  grid-template-rows: 1fr;
}
.instructions .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.instructions .top .title .icon {
  width: 24px;
}
.instructions .top .title .icon :is(path, circle) {
  stroke: var(--neutra-escura);
}
.instructions .top button .icon {
  width: 13px;
}
.instructions article {
  opacity: 0;
  display: grid;
  grid-template-rows: 0fr;
  margin-block-start: 24px;
  opacity: 0;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: -0.42px;
  transition: all 300ms ease;
}
.instructions article > div {
  overflow: hidden;
}
.instructions article * {
  margin-block-end: 20px;
}
.instructions article li {
  margin-inline-start: 1.5rem;
  list-style: disc;
}

.add-photos {
  display: flex;
  align-items: center;
  gap: 39px;
}
.add-photos .actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.add-photos .photos-msg {
  color: var(--neutra-cinza-escuro-2);
  font-size: 14px;
  font-weight: 600;
  line-height: 120.1%;
  letter-spacing: -0.42px;
}
.add-photos .photos-msg.active {
  color: var(--neutra-escura);
  line-height: 18px;
}
.add-photos button.submit {
  display: none;
  color: var(--primaria);
  font-size: 16px;
  font-weight: 500;
  line-height: 120.1%;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
}
.add-photos input {
  display: none;
}

.photos {
  margin-block-start: 100px;
}
.photos-img {
  width: 150px;
  height: 85px;
  object-fit: cover;
}

table {
  text-align: center;
  margin-block-start: 24px;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.42px;
}
table th {
  padding: 24px;
}
table tbody tr:nth-child(odd) {
  background-color: #FFF;
}
table tbody td {
  padding: 16px;
}
table tbody td button {
  display: grid;
  place-content: center;
  width: 100%;
}
table tbody label {
  position: relative;
  display: block;
  margin-inline: auto;
  width: 24px;
  aspect-ratio: 1;
  border: 1px solid var(--neutra-escura);
  border-radius: var(--radius-circle);
}
table tbody label.active {
  border-color: var(--primaria);
}
table tbody label.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  border-radius: var(--radius-circle);
  aspect-ratio: 1;
  background-color: var(--primaria);
}
table tbody input[type=radio] {
  accent-color: var(--primaria);
  display: none;
}
table tbody .icon {
  width: 22px;
}

/*# sourceMappingURL=style.css.map */
