@use "./mixings" as mx;

.title-page {
   display: flex;
   align-items: center;
   gap: 11px;
   margin-block: 27px 70px;
   font-size: 12px;
   font-weight: 700;

   @include mx.breakpoint-up(large) {
      display: none;
   }

   @include mx.breakpoint-down(medium) {
      margin-block-start: 0px;
   }

   .icon {
      width: 18px;
      filter: invert(100%);
   }
}

fieldset {
   border: none;
   margin-block-end: 80px;

   &.fs-valores {
      .label {
         flex: 1 262px;
      }
   }

   legend {
      margin-bottom: 30px;

      @include mx.breakpoint-down(medium) {
         font-size: 16px;
      }
   }
}

.form-group {
   display: flex;
   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 19px;
   transition: all 300ms ease;
}

.input-group {
   display: flex;
   width: 100%;
   gap: 19px;

}

.label {
   position: relative;
   align-self: flex-end;
   width: 100%;
   font-style: normal;
   font-weight: 700;
   line-height: 120.1%;
   letter-spacing: -0.48px;

   .tox-tinymce {
      margin-block: 20px 50px;
   }

   input {
      height: 60px;
      margin-block-start: 5px;
      padding: 22px 40px;
      color: var(--netra-escura);
      font-weight: 500;
      border-radius: var(--radius1);
      background: #FFF;

      &::placeholder {
         color: var(--neutra-cinza-escuro);
         font-size: 14px;
         font-weight: 500;
         line-height: 120.1%;
         letter-spacing: -0.42px;
      }
   }

   &.cifrao {
      input {
         padding-inline-start: 59px;
      }

      &::before {
         content: "R$";
         position: absolute;
         top: 50px;
         left: 35px;
         font-size: 14px;
         font-weight: 500;
      }
   }
}

.double-form {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 70px;
   line-height: 120.1%;

   @include mx.breakpoint-up(large) {
      padding-block-start: 36px;
   }

   .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 580px;
      max-width: 539px;
      padding: 80px 50px 76px;
      background-color: var(--branco);
      border-radius: var(--radius2);
      box-shadow: var(--box-shadow-3);

      @media (min-width: 1646px) {
         position: sticky;
         top: 102px;
      }

      &-pic {
         display: flex;
         align-items: center;
         position: relative;
         width: 128px;

         input {
            display: none;
         }
      }

      &-info {
         display: none;

         &.active {
            display: block;
         }

         max-width: 547px;
      }

      .edit-pic {
         position: absolute;
         right: 0;
         bottom: 0;
         display: grid;
         place-items: center;
         width: 43px;
         aspect-ratio: 1;
         background-color: var(--primaria);
         border: 3px solid var(--branco);
         border-radius: var(--radius-circle);

         .icon {
            width: 15px;
         }
      }

      &-image {
         width: 128px;
         aspect-ratio: 1;
         object-fit: contain;
         border-radius: var(--radius-circle);
      }

      &-name {
         margin-block: 20px 3px;
         font-size: 24px;
         font-weight: 700;
         letter-spacing: -0.96px;
      }

      &-city {
         color: var(--neutra-cinza-escuro-1, #808080);
         font-size: 14px;
         font-weight: 500;
         letter-spacing: -0.56px;
      }

      &-sections {
         width: 100%;
         margin-block-start: 30px;

         .section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 42px 27px 51px;
            width: 100%;
            font-weight: 600;
            line-height: 120.1%;
            letter-spacing: -0.48px;

            svg {
               stroke: #404041;
            }

            &:first-child {
               border-bottom: 1px solid var(--neutra-cinza-escuro);
            }

            &:is(.active, :hover, :focus-visible) {
               color: var(--primaria);

               & svg {
                  stroke: var(--primaria);
               }
            }
         }
      }
   }

   .submit {
      margin-inline: auto;
   }
}

:is(.contact-item, .accommodation-item) {
   padding-block: 50px;
   border-block-start: 1px solid var(--neutra-cinza-escuro);

   .has-btn span {
      cursor: pointer;
   }

   &:last-child {
      border-block-end: 1px solid var(--neutra-cinza-escuro);
   }

   &.active {
      .title {
         margin-block-end: 30px;
      }

      .icon.rotate {
         transform: rotate(0deg);
      }

      .collapse-content {
         opacity: 1;
         grid-template-rows: 1fr;
      }
   }

   .title {
      transition: all 300ms ease;
   }

   .collapse-content {
      opacity: 0;
      display: grid;
      grid-template-rows: 0fr;
      transition: all 300ms ease;

      .collapse-hide {
         overflow: hidden;
      }
   }

   .has-icon {
      gap: 38px;
   }

   .icon {
      width: 17px;
      transition: all 500ms ease;
   }

   .btn-dynamic.delete {
      position: static;
   }
}

.accommodations {

   input {
      margin-block-start: 10px;
   }

   &-spotlight {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));

      .icon {
         width: 35px;
      }      
   }

   .has-icon span {
      cursor: pointer;
   }   

   .btn.submit {
      margin-block: 80px 100px;
   }
}