@use "./mixings" as mx;

.header {
   position: fixed;
   top: 0;
   left: -402px;
   width: 402px;
   height: 100vh;
   transition: all 300ms ease;
   z-index: 5;

   &.active {
      left: 0px;
   }

   @include mx.breakpoint-up(large) {
      left: 0px;
   }

   .content {
      display: flex;
      flex-direction: column;
      width: 390px;
      min-height: 100vh;
      background-image: var(--gradient);
      color: var(--branco);
      box-shadow: var(--box-shadow-3);

      .top {
         position: relative;

         .close-nav {
            position: absolute;
            top: 1rem;
            right: 1rem;

            @include mx.breakpoint-up(large) {
               display: none;
            }
         }

         .icon {
            width: 16px;

            path {
               stroke: #FFF;
            }
         }
      }

      .logo {
         margin: 12px auto 48px;
         width: 97px;
         aspect-ratio: 1;
      }

      .selects {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 6px;
         margin-block-end: 40px;

         .custom-select {
            width: 284px;
            height: 58px;
            flex-shrink: 0;
            padding: 21px 30px;
            border-radius: var(--radius1);
            border: 1px solid #FFF;
            background-color: var(--primaria);

            color: #FFF;
            font-size: 14px;
            font-weight: 700;
            line-height: 120.1%;
            letter-spacing: -0.56px;
         }
      }

      .navbar {
         display: flex;
         flex-direction: column;

         &-list {
            width: 402px;
            height: calc(100vh - 319px);
            overflow-y: scroll;
            padding-block-end: 124px;

            // direction: rtl;

            &::-webkit-scrollbar {
               width: 0px;
               background-color: none;
            }

            &::-webkit-scrollbar-thumb {
               background-color: #AB2F34;
               border-radius: 5px;
            }

            li {
               // direction: ltr;
            }
         }

         &-link {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 390px;
            height: 64px;
            padding: 20px 58px;
            font-size: 14px;
            transition: all 300ms ease;
            font-weight: 700;
            line-height: 120.1%;
            letter-spacing: -0.42px;

            &:is(.active, :hover, :focus-visible) {
               background-color: #AB2F34;
               width: 402px;
            }
         }
      }
   }
}

.overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   display: none;
   background: #00000014;
   filter: blur(10px);
   z-index: 3;

   &.active {
      display: block;
   }
}