:root {
   --primaria: #932327;
   --gradient: linear-gradient(180deg, #922327 0%, #6C1619 100%);
   --radius1: 9px;
   --radius2: 15px;
   --radius3: 20px;
   --radius-circle: 50%;
   --neutra-escura: #404041;
   --neutra-cinza-escuro: #BBB;
   --neutra-cinza-escuro-2: #808080;
   --branco: #FFF;
   --bg-dash: #F4F7FE;
   --navbar-width: 390px;
   --box-shadow-3: 0px 49px 79px 36px rgba(202, 209, 220, 0.20);

   --tagify-dd-color-primary: var(--primaria);
}